.box{
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
    6px 6px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: box-shadow 1s ease;
    
}

.box:hover{
    box-shadow:  -4px -4px 15px rgba(255,255,255,0.8),
     4px 4px 20px rgba(0,0,0,0.5);
}

