p, a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
    height: 4.5rem;
    background: white;
    margin: 0px;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 250px;
    max-height: 130px;
    float: left;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 100%;
}
#header {
    /* height: 50px; */
    background: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1
  }
  

.nav-menu {
    height: auto;
    padding: 0;
    margin: 0 2rem;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}



.nav-menu{
    color: black;
    padding-bottom:2px;
    transition: color .5s ease;
-webkit-transition: color .5s ease;
-moz-transition: color .5s ease;
}

.nav-menu:hover{
    color:#0E4644;

}

.nav-button {
    padding: 0 20px;
    background-color: #f2f2f2;
    color: #000;
    border-radius: 4px;
    line-height: 40px;
    box-shadow: inset 0 0 0 0 #f2f2f2;
    transition: box-shadow 1.2s ease;
    /* border: black 1px solid; */
}

.nav-button:hover {
    box-shadow: inset 120px 0 0 0 #0E4644;
    color: #f2f2f2;

}

.MenuToggle {
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 959px) {
    .is-visible\@m {
        display: none!important;
    }
}

@media (min-width: 959px) {
    .is-hidden\@m {
        display: none!important;
    }
}

@media (max-width: 1024px) {
    .header-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 640px) {
    .header-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.mobile-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    height: 100%;
    cursor: pointer;
    /* padding-right: 10px; */
}

.mobilemenu {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2D3739;
    /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); */
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 35px;
    right: 30px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 35px;
        right: 30px;
    }
}

/* Menu underline animation */

.slide-center-out{
    text-decoration: none;
    display: inline-block;
    color: black;   
}

/* add a empty string after the elment with class .slide-center-out  */

.slide-center-out:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    margin: auto;
    margin-top: 2px !important;
    /* center the cotent so it will sliding from the midddle to the left and right */
}

/* Change the width and background on hover, aka sliding from the middle to the left and right */

.slide-center-out:hover:after{
    width: 100%;
    background: #0E4644;
    color: #0E4644;
}
