.back {
  background-image: url("../../images/cluster.svg"),
    linear-gradient(to right top, #022b29, #195d5a);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


@media screen and (max-width: 600px) {
  .back {
    background-image: linear-gradient(to right top, #022b29, #195d5a);

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
